.architerrax-content {
    height: 85vh;
    padding: 0 4%;
    gap: 2%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    
    .grid, .grid2 {
        width: 100%;
        display: flex;
        gap: 4%;
        height: auto;
        margin-bottom: 4%;
        
        .left-side, .right-side {
            gap: 2%;
            display: flex;
            justify-content: space-evenly;
            img {
                width: 48%;
                height: auto;
                object-fit: cover;
            }
        }
        
        .left-side {
            width: 60%;
        }
        
        .right-side {
            width: 40%;
            display: block;
            .title {
                padding-bottom: 2%;
                font-family: var(--font-primary);
                font-size: clamp(20px, 2vw, 25px);
                color: black;
                opacity: 0.8;
            }
        }
    }

    .grid2 {
        justify-content: center;
        flex-wrap: wrap;
        img {
            width: 22%;
            height: auto;
            margin: 1%;
            object-fit: cover;
        }
    }
}

.collapsible-section {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2%;
}

.collapsible-title {
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #25545a;
    font-size: clamp(12px, 1.2vw, 14px);
    font-family: var(--font-primary);
}

.collapsible-title:hover {
    cursor: url("data:image/svg+xml;utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='6' fill='%23b92528' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E"), auto;
}

.collapsible-content {
    padding: 15px;
    border: 1px solid #25545a;
    background-color: #e4e3e0;
    color: black;
    font-size: clamp(11px, 1.1vw, 13px);
    font-family: var(--font-primary);
}

.collapsible-content {
    display: none;
}

.collapsible-section .collapsible-content {
    display: block;
}

@media (max-width: 768px) {
    .architerrax-content {
        padding: 0 3%;
        
        .grid {
            flex-direction: column;
            
            .left-side, .right-side {
                width: 100%;
                margin-bottom: 4%;
            }
        }
        
        .grid2 {
            img {
                width: 48%;
                margin: 1%;
            }
        }
    }
}

@media (max-width: 480px) {
    .architerrax-content {
        padding: 0 2%;
        
        .grid {
            .left-side {
                flex-direction: column;
                img {
                    width: 100%;
                    margin-bottom: 2%;
                }
            }
        }
        
        .grid2 {
            img {
                width: 100%;
                margin: 2% 0;
            }
        }
    }
}