.page-content {
    height: 85vh;
}
.play-content {
    display: flex;
    padding: 0px 45px;
    gap: 10px;
    .grid {
        width: 50%;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        gap: 2%;
        position: relative;
        .img1, .img5 {
            width: 66%;
            height: 32%;
            object-fit: cover;
            filter: grayscale(100%);
            transition: filter 0.3s ease;
        }
        .vid1, .vid2, .img2, .img3, .img4, .img7, .vid3, .img8, .img9, .vid4 {
            width: 32%;
            height: 32%;
            object-fit: cover;
            filter: grayscale(100%);
            transition: filter 0.3s ease;
        }
        .img6, .img10 {
            height: 66%;
            width: 32%;
            object-fit: cover;
            filter: grayscale(100%);
            transition: filter 0.3s ease;
        }
        .img10 {
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .vid4 {
            position: absolute;
            top: 34.5%;
            left: 34%;
        }
    }
    .select:hover {
        filter: grayscale(0%);
        cursor: url("data:image/svg+xml;utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='6' fill='%23b92528' stroke='white' stroke-width='1.5'/%3E%3C/svg%3E"), auto;
    }
}
.maximum {
    width: 100%;
    height: 100%;
}