.work-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.category {
  flex: 1;
  min-width: 250px;
}

.category h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.category ul {
  list-style: none;
  padding: 0;
}

.category li {
  margin-bottom: 10px;
  font-size: 16px;
}

.work-content {
  height: 85vh;
}